.userProfileWrapper {
  background: var(--gray_00);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: fit-content;
  margin-left: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo .userName {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
}

.followWrapper {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: var(--gray_06);
}

.followWrapper span {
  font-weight: bold;
  margin: 0 5px;
}

.userSnsInfo svg:hover {
  cursor: pointer;
}
