.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.box {
  width: 440px;
  /* height: 492px; */
  background: var(--gray_00);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 15px;
}

.inputLabelWrapper {
  display: flex;
  align-items: center;
}

.inputLabel {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5px;
}

.inputLabelHelper {
  font-size: 1.2rem;
  color: var(--gray_05);
}

.passwordToggle {
  display: flex;
  align-items: center;
  margin: 0;
}

.passwordToggle:hover {
  cursor: pointer;
}

.eye {
  margin-top: 5px;
}

.passwordToggleText {
  font-size: 1.2rem;
  color: var(--blue_04);
  margin: 3px 0 0 5px;
}

.buttonWrapper {
  margin-top: 20px;
  width: 100%;
}

.authLinkWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.authHelperText {
  font-size: 1.2rem;
  color: var(--gray_06);
  margin-right: 3px;
}

.authLink {
  font-size: 1.2rem;
  color: var(--blue_04);
  text-decoration: underline;
}

.authLink:hover {
  cursor: pointer;
}

.homeLink {
  margin: 0 auto;
}

.homeLink > a {
  color: var(--blue_04);
  font-size: 1.2rem;
}
