.articlesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 100px auto;
}

.articlesContainer > section {
  width: 100%;
}

.articlesContainer article {
  border: 1px solid var(--gray_02);
  background: var(--gray_00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
  cursor: pointer;
  margin: 10px 0;
}

.articlesContainer article > section {
  margin: 5px 0;
}
